<h1>スタッフ一覧</h1>

<div class="container">
  <div id="new-staff-link">
    <%= link_to '新規スタッフ登録', new_staff_path, class: 'btn btn-default' %>
  </div>
    <br />
  <%= search_form_for @search do |f| %>
  <%= f.label :staff_name_cont, 'スタッフ名' %>
  <%= f.text_field :staff_name_cont %>
  <%= f.label :staff_add_cont, '住所' %>
  <%= f.text_field :staff_add_cont %>
  <br />
  <%= f.label :skill_biz01_cont, '法人01' %>
  <%= f.check_box(:skill_biz01_cont,{:checked=>false},"あり","なし") %>
  <%= f.label :skill_biz02_cont, '法人02' %>
  <%= f.check_box(:skill_biz02_cont,{:checked=>false},"あり","なし") %>
  <%= f.label :skill_con01_cont, '個人01' %>
  <%= f.check_box(:skill_con01_cont,{:checked=>false},"あり","なし") %>
  <%= f.label :skill_con02_cont, '個人02' %>
  <%= f.check_box(:skill_con02_cont,{:checked=>false},"あり","なし") %>
  <%= f.label :skill_other_cont, '個人01' %>
  <%= f.check_box(:skill_other_cont,{:checked=>false},"あり","なし") %>
  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>
  <br />
  <div class="row">
    <% @staffs.each do |staff| %>
      <div class="col-xs-12 col-md-6 staff-panel">
        <div>
          <table border="1">
            
            <th><center>スタッフ名</center></th>
            <th><center>住所</center></th>
            <th colspan="3"><center>操作</center></th>
            
            <tr>
              <td width="100" height="20"><%= staff.staff_name %></td>
              <td width="200" height="20"><%= staff.staff_add %></td>
              <div class="staff-links">
                <td><%= link_to '詳細', staff, class: 'btn btn-default' %></td>
                <td><%= link_to '編集', edit_staff_path(staff), class: 'btn btn-info' %></td>
                <td><%= link_to '削除', staff, method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-danger' %></td>

            <tr>
              </div>
          </table>
        </div>
      </div>
      <% end %>
  </div>
</div>