<h1>ログイン画面</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

<div>
<table>
  <tr>
　<td><%= f.label :email, 'メールアドレス' %></td>
　<td><%= f.email_field :email %></td>
  </tr>

  <tr>
  <td><%= f.label :password, 'パスワード' %></td>
  <td><%= f.password_field :password %></td>
  </tr>
  
  <tr>
  <td colspan="2"><%= f.submit "ログイン" %></td>
  </tr>
</table>
</div>
<% end %>