<!DOCTYPE html>
<html>
<head>
  <title>ミズblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%=link_to "ホーム", root_path %></li>
      <li><%=link_to "一覧",blogs_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>201801期 Mizutani Eiji</p>
    <p>© 2018 Copyright NTT ComCheo Corp.</p>
  </footer>

</body>
</html>